# Ignore Go vendor directory
/chaincode/vendor/
**/vendor/

# Ignore test-network channel artifacts and crypto material
/channel-artifacts/
/organizations/
# Generated outputs - recreated by pipeline
outputs/sbom_*.json
outputs/sbom_*.bundle
outputs/*.sig

# cosign private key
keys/cosign.key
keys/*.key
keys/*.b64

# environment files
.env
*.env
# Ignore Hyperledger Fabric binaries
/bin/
/builders/

# Ignore compiled executables
*.exe
